<ul>
  <li><%= @trip.name %></li>
  <li><%= @trip.start_date %></li>
  <li><%= @trip.end_date %></li>
</ul>

<% @trip.trails.each do |trail| %>
<ul>
  <li>Length: <%= trail.length %></li>
  <li>Name: <%= trail.name %></li>
  <li>Address: <%= trail.address %></li>
</ul>
<% end %>

<ul>
  <li>Total Distance: <%= @trip.total_distance %></li>
  <li>Average Distance: <%= @trip.average_distance %></li>
  <li>Longest Trail: <%= @trip.longest %></li>
  <li>Shortest Trail: <%= @trip.shortest %></li>
</ul>
